.a{
    display: flex;
    justify-content: space-around;
    
}
.btn{
    background-color: rgb(243, 86, 117);
    color: aliceblue;
    border: none;
    border-radius: 7px;
    padding: 10px;
}
.b{
   margin-left: 120px;
   margin-top: 70px;
}
.c{
    text-align: center;
}
.cc{
    font-size: small;
}
.d{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}
.e{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    height: 500px;
}
.f{
    margin-left: 170px;
}
.g{
    display: flex;
    margin-left: 170px;
    
}
.h{
    width: 50px;
    height: 50px;
}
.i{
    background-image: url('../Rectangle\ 9.png');
    height: 300px;
   justify-content: center;
   width: 80%;
   margin-left: 120px;
}
.j{
    background-color: rgb(19, 9, 9);
    height: 300px;
}
.k{
    margin-top: 50px;
    background-image: linear-gradient(rgb(66, 133, 180),rgb(170, 50, 162));
    width: 70%;
    margin-left: 200px;
}   